.container
  padding-top: 5rem
  max-width: 95vw
  margin: auto
  display: flex

  @media(max-width: 720px)
    flex-direction: column
    align-items: center

.post
  max-width: 70vw
  background-color: #202023
  padding: 3rem
  margin-top: 2rem
  border-radius: 5px

  @media(max-width: 720px)
    max-width: 90vw
    overflow: hidden
    padding: 1rem

  a
    &:hover
      color: #c1c1c0

  h1
    font-size: 2.5rem
    font-weight:900
    color: #f4c61e

    @media (max-width: 720px)
      font-size:1.8rem

  img
    width: 150px
    height: 150px
    object-fit: contain

    @media(max-width: 720px)
      width: 50px
      height: 50px
    
  
  time
    display: block
    font-size: 1rem
    margin-top: 1.5rem
    color: #b0b0b0

  
  .content
    margin-top: 2rem
    line-height: 2rem
    font-size: 1.2rem
    color: #f2f2f2
    font-weight: 100
    @media(max-width: 720px)
      font-size: 0.9rem
      line-height: 1.3rem
      font-weight: 400


    a
      color:#f4c61e
      font-weight: 400

      &:hover
        color: #f47c35

    p, ul
      margin: 1rem 0
    
    ul
      padding-left: 1.5rem

      li
        margin: 0.5rem 0
    
    pre
      background-color: #1a1a20
      max-width: 40vw
      padding: 1rem

      @media (max-width: 720px)
      max-width: 100vw

.postsRecents
  max-width: 25vw
  margin: 2rem 0 0 1rem
  background-color:#ffffff
  padding: 1rem
  border-radius: 5px
  height: auto

  @media (max-width: 720px)
    max-width: 90vw
    margin: 0
    margin-top: 1rem


  h3
    font-size: 1.8rem
    color: #26262A
    margin: 0

  .postsRecentsContent
    display: flex
    flex-direction: row
    justify-content: flex-start
    margin-top: 2rem

    img
      width: 40px
      height: 40px
      object-fit: contain
      margin-right: 1rem
    
    div

      h6
        font-size: 1rem
        color: #26262A
        margin: 0

        &:hover
          color: #F47C35

      p
        font-size: 0.8rem
        text-align: left
        margin: 0
        color: #26262ad2

