.container
  padding-top: 5rem
  max-width: 90vw
  margin: auto

.post
  max-width: 70vw

  h1
    font-size: 2.5rem
    font-weight:900
    color: #f4c61e
  
  time
    display: block
    font-size: 1rem
    margin-top: 1.5rem
    color: #b0b0b0

  
  .content
    margin-top: 2rem
    line-height: 2rem
    font-size: 1.125rem
    color: #f2f2f2

    p, ul
      margin: 1.5rem 0
    
    ul
      padding-left: 1.5rem

      li
        margin: 0.5rem 0
